{% extends 'base.html.twig' %}

{% block title %}Nouveau book{% endblock %}

{% block body %}

    <section class="mt-32">
        <h1>Modifier un utilisateur</h1>

        {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword) }}
            {{ form_row(form.roles) }}
        {{ form_end(form) }}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </section>

{% endblock %}