{% extends 'base.html.twig' %}

{% block title %}Créer un utilisateur{% endblock %}

{% block body %}
<section class="mx-auto max-w-7xl mt-28 mb-10">
    <div class="inline-flex rounded-md shadow-xs mb-8">
        <a href="{{ path('app_gestion_catalogue_admin') }}" aria-current="page" class="px-4 py-2 text-sm font-medium text-blue-700 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
            Gérer le catalogue
        </a>
        <a href="{{ path('app_gestion_catalogue_admin_suivit') }}" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
            Suivre les réservations
        </a>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_gestion_catalogue_admin_commentaire') }}" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                Modérer les commentaires
            </a>
            <a href="{{ path('admin_users') }}" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                profils utilisateurs
            </a>
        {% endif %}
    </div>
    <div class="flex justify-center mx-auto max-w-7xl">
        <div class="w-full max-w-sm p-4 border border-gray-200 rounded-lg shadow-sm sm:p-6 md:p-8 bg-gray-800 dark:border-gray-700">
            {{ form_start(form, { attr: { class: 'space-y-6' } }) }}
                <h5 class="text-xl font-medium text-gray-900 dark:text-white">Créer un utilisateur</h5>

                <div>
                    {{ form_label(form.email, null, { label_attr: { class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' } }) }}
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email, { attr: { class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:text-white' } }) }}
                </div>

                <div>
                    {{ form_label(form.plainPassword, null, { label_attr: { class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' } }) }}
                    {{ form_errors(form.plainPassword) }}
                    {{ form_widget(form.plainPassword, { attr: { class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:text-white' } }) }}
                </div>

                <div>
                    {{ form_label(form.roles, null, { label_attr: { class: 'block mb-2 text-sm font-medium text-white dark:text-white' } }) }}
                    {{ form_errors(form.roles) }}
                    {{ form_widget(form.roles, { attr: { class: 'flex flex-col gap-2 text-white' } }) }}
                </div>

                <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Enrgistré
                </button>
            {{ form_end(form) }}
        </div>
    </div>
</section>
{% endblock %}
