{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}
    <section class="mx-auto max-w-7xl mt-32">
        <h1 class="text-center text-4xl font-bold mb-2">Recherche d'ouvrage</h1>

        {{ form_start(form, {'attr': {'class': 'flex flex-row space-x-2 items-center max-w-3xl mx-auto p-6 bg-white shadow-lg rounded-lg'}}) }}
            <div class="">
                {{ form_label(form.title, null, {'attr': {'class': 'block text-gray-700 font-medium'}}) }}
                {{ form_widget(form.title, {'attr': {'class': 'mt-1 block w-full px-4 py-2 border rounded-md focus:ring-blue-500 focus:border-blue-500'}}) }}
                {{ form_errors(form.title) }}
            </div>

            <div class="">
                {{ form_label(form.author, null, {'attr': {'class': 'block text-gray-700 font-medium'}}) }}
                {{ form_widget(form.author, {'attr': {'class': 'mt-1 block w-full px-4 py-2 border rounded-md focus:ring-blue-500 focus:border-blue-500'}}) }}
                {{ form_errors(form.author) }}
            </div>

            <div class="">
                {{ form_label(form.category, null, {'attr': {'class': 'block text-gray-700 font-medium'}}) }}
                {{ form_widget(form.category, {'attr': {'class': 'mt-1 block w-full px-4 py-2 border rounded-md focus:ring-blue-500 focus:border-blue-500'}}) }}
                {{ form_errors(form.category) }}
            </div>

            <div class="mt-7">
                <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
                    Rechercher
                </button>
            </div>
        {{ form_end(form) }}

        <div class="mt-12">
            {% if books is not empty %}
                <h2 class="text-base">Résultats de la recherche : </h2>
                <div class="grid grid-cols-3 gap-2 mt-5">
                    {% for book in books %}
                        <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7 text-gray-500 dark:text-gray-400 mb-3">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
                            </svg>

                            <a href="{{ path('app_book_view', { 'slug': book.slug }) }}">
                                <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">{{ book.title }}</h5>
                            </a>
                            <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">{{ book.description | slice(0, 18) }}</p>
                            <div class="grid grid-cols-3 gap-2 py-2">
                                <span class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-blue-900 dark:text-blue-300">{{ book.author.name }}</span>
                                <span class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-blue-900 dark:text-blue-300">{{ book.category.name }}</span>
                                <span class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-blue-900 dark:text-blue-300">{{ book.language.name }}</span>
                            </div>
                            <a href="{{ path('app_book_view', { 'slug': book.slug }) }}" class="inline-flex font-medium items-center text-blue-600 hover:underline">
                                Voir plus
                                <svg class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"/>
                                </svg>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>Aucun résultat trouvé.</p>
            {% endif %}
        </div>
    </section>
{% endblock %}
